*｛
    box-sizing: border-box;
｝
body{
	margin: 0;
	color:#555;
	background:#fff;
	font-family:"arial,helvetica,sans-serif";
	font-size:12px;
	line-height:1.667;
}
a {
	color:#555;
	text-decoration:none;
}
a:hover{
	color:#f60;
}
ol,
ul{
	margin: 0;
	padding: 0;
}
li{
	/* 修改列表项前的提示符号 */
				/* list-style: disc; 圆饼 */
				/* list-style: diciml;数字 */
				/* list-style: circle;圆圈*/
				/* list-style: lower-alpha; 大写字母*/
				/* list-style: upper-alpha;大写字母 */
	/* 			list-style: upper-roman;大写罗马字母 */
	            list-style: none;
				/* 取消提示符 */
	
}